body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    background-color: rgba(40, 167, 69);    ;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px; 
}

#fondo{
    background-image: url('../IMAGENES/image.png');
    filter: blur(5px);
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: -1;
    
}

form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
}

label {
    display: block;
    margin-bottom: 3px;
    color: rgb(255, 255, 255)
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgba(40, 167, 69, 0.3);
}